version: 2.1

orbs:
  win: circleci/windows@1.0.0
  docker: circleci/docker@2.0.1

workflows:
  version: 2
  test:
    jobs:
      - test-netcore:
          name: .NET Core 2.1
          docker-image: mcr.microsoft.com/dotnet/core/sdk:2.1-focal
          test-target-framework: netcoreapp2.1
      - test-netcore:
          name: .NET Core 3.1
          docker-image: mcr.microsoft.com/dotnet/core/sdk:3.1-focal
          test-target-framework: netcoreapp3.1
      - test-netcore:
          name: .NET 5.0
          docker-image: mcr.microsoft.com/dotnet/sdk:5.0-focal
          test-target-framework: net5.0
      - test-windows-netframework:
          name: .NET Framework 4.5.2
          test-target-framework: net452
      - test-windows-netframework:
          name: .NET Framework 4.6.1
          test-target-framework: net461

jobs:
  test-netcore:
    parameters:
      docker-image:
        type: string
      test-target-framework:
        type: string
    docker:
      - image: <<parameters.docker-image>>
    environment:
      ASPNETCORE_SUPPRESSSTATUSMESSAGES: true
      TESTFRAMEWORK: <<parameters.test-target-framework>>
    steps:
      - run:
          name: install packages
          command: apt-get -q update && apt-get install -qy awscli jq
      - checkout
      - run: dotnet build src/LaunchDarkly.EventSource -f netstandard2.0
      - run: dotnet test test/LaunchDarkly.EventSource.Tests/LaunchDarkly.EventSource.Tests.csproj

      - docker/install-docker-tools  # needed for contract tests
      - run:
          name: run contract tests
          command: ./contract-tests/run.sh

  test-windows-netframework:
    parameters:
      test-target-framework:
        type: string
    executor:
      name: win/vs2019
      shell: powershell.exe
    environment:
      TESTFRAMEWORK: <<parameters.test-target-framework>>
    steps:
      - checkout
      - run: dotnet build src/LaunchDarkly.EventSource
      - run: dotnet test test/LaunchDarkly.EventSource.Tests/LaunchDarkly.EventSource.Tests.csproj
