version: 2

publications:
  - url: https://nuget.org/packages/LaunchDarkly.EventSource
    description: NuGet

branches:
  - name: main
    description: 5.x - for server-side .NET SDK 7.0+ and client-side .NET SDK 3.0+
  - name: 4.x
    description: for .NET SDK 6.0+ and Xamarin SDK 2.0+
  - name: 3.x
    description: for earlier .NET and Xamarin SDKs

jobs:
  - template:
      name: dotnet6-linux
    env:
      LD_RELEASE_DOCS_TARGET_FRAMEWORK: netstandard2.0
      LD_RELEASE_TEST_TARGET_FRAMEWORK: net6.0

documentation:
  gitHubPages: true
  title: LaunchDarkly .NET EventSource Client
